.row-xs-margin {
    margin-top: 20px
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
}

input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
  }
  input[type="date"]:focus:before,
  input[type="date"]:valid:before {
    content: "";
}
