<div class="container" ng-controller="InputController">
    <div class="row row-content">
        <div class="col-xs-12 col-sm-6 row-xs-margin">
            <input class="form-control" type="text" placeholder="Enter Twitter handle" ng-model="twitterHandle">
        </div>
        <div class="col-xs-12 col-sm-2 row-xs-margin">
            <input class="form-control" type="number" placeholder="Number of Tweets" ng-model="numOfTweets">
        </div>
        <div class="col-xs-12 col-sm-2 row-xs-margin">
            <input class="form-control" type="date" placeholder="Start Date" ng-model="startDate">
        </div>
        <div class="col-xs-12 col-sm-2 row-xs-margin">
            <button ng-click="submit()" class="btn btn-sm btn-primary" type="button">
                Submit
            </button>
        </div>
    </div>
    <div class="row row-content">
        <div class="col-xs-12">
            <h3> Most commonly used terms : </h3>
            <li ng-repeat = "word in topWords">
                <p>{{word}}</p>
            </li>
        </div>
    </div>
</div>
